<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/bulma.min.css")
    link(rel="stylesheet", href="/css/helpers.css")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    script(defer src="/js/helpers.js")
    title Odinbook

  body

    header
      nav.navbar.is-fixed-top.has-background-primary.has-shadow
        .navbar-brand
          a.navbar-item.has-text-weight-bold(href="/") Odinbook
          a.navbar-burger.burger(role="button", data-target="navbarContent")
            span
            span
            span
        .navbar-menu#navbarContent
          .navbar-start
          .navbar-end
            .navbar-item
              if locals.currentUser
                p Hello, 
                  a(href=locals.currentUser.url) #{locals.currentUser.name}
                  | ! (
                  a(href="/user/logout") Logout
                  | )
              else
                p Not logged in.

    main.section.mt-6
      block content

    footer.footer
      .content.has-text-centered
        p #[strong Odinbook] by 
          a(href="https://github.com/ranmaru22") Ranmaru22
          | . Built as a capstone project for 
          a(href="https://www.theodinproject.com/") The Odin Project
          | .
        p The source code is available under 
          a(href="https://opensource.org/licenses/GPL-3.0") GPL version 3 
          | or later and available on 
          a(href="https://github.com/ranmaru22/odinbook") GitHub
          | .