extends profile_layout

block profileContent
  form(action="/user/" + user._id + "/edit", method="POST", enctype="multipart/form-data")
    .field.has-text-centered
      label.label(for="Password") Enter your password to make any changes
      .control.has-icons-left
        input.input#currentPassword.column(type="password", name="currentPassword", required)
        span.icon.is-small.is-left
          i.fas.fa-lock-open
    .box
      input(type="hidden", name="_method" value="PATCH")
      .field
        label.label(for="name") Name
        .control.has-icons-left
          input.input#name.column(type="text", name="name", value=(user.name ? user.name : ""))
          span.icon.is-small.is-left
            i.fas.fa-user
      .field
        label.label(for="email") Email
        .control.has-icons-left
          input.input#email.column(type="email", name="email", value=(user.email ? user.email : ""))
          span.icon.is-small.is-left
            i.fas.fa-envelope
      .field
        label.label(for="image") Profile Picture
        .control.has-icons-left
          input.input#image.column(type="file", name="image")
          span.icon.is-small.is-left
            i.fas.fa-image
      .field
        label.checkbox(for="deleteImage")
          input.mr-2#delteImage(type="checkbox", name="deleteImage") 
          | Delete profile picture
      .field
        label.label(for="status") Profile Status
        .control.has-icons-left
          input.input#status.column(type="text", name="status", value=(profile.status ? profile.status : ""))
          span.icon.is-small.is-left
            i.fas.fa-comment
      .field
        label.label(for="Password") New Password (or leave blank to keep)
        .control.has-icons-left
          input.input#password.column(type="password", name="password")
          span.icon.is-small.is-left
            i.fas.fa-lock
      .field
        label.label(for="confirmPassword") Confirm New Password
        .control.has-icons-left
          input.input#confirmPassword.column(type="password", name="confirmPassword")
          span.icon.is-small.is-left
            i.fas.fa-lock
      .field.is-grouped
        .control
          button.button.is-link(type="submit") Submit
        .control
          button.button.is-light(type="reset") Reset


  if errors
    for error in errors
      p= error.msg
