extends profile_layout

block profileContent
  if user.recvFriendRequests.length > 0
    .container
      h2.title.is-4 Friend Requests
      .tile.is-4.is-parent
        for friendRequest in user.recvFriendRequests
          +friend(friendRequest, true)

  .container.mt-6
    h2.title.is-4 Friends
    .tile.is-4.is-parent
      for friend in user.friends
        +friend(friend)
      else
        p No friends yet. :(
