extends layout
include _posts

block content
  .container
    if user.picture
      a(href=user.url)
        figure.image.is-64x64.is-pulled-left.mr-3
          img.is-rounded.is-avatar-64(src=user.picture, alt="Profile Picture")
    h1.title.pt-3 Your Timeline

  .section
    .container
      for post in posts
        +post(post)
      else
        p Nothing to display. :(
