extends layout

block content
  .section
    h1.title Register
    form(action="/user/new", method="POST")
      .field
        label.label(for="name") Name
        .control.has-icons-left
          input.input#name.column(type="text", name="name")
          span.icon.is-small.is-left
            i.fas.fa-user
      .field
        label.label(for="email") Email
        .control.has-icons-left
          input.input#email.column(type="email", name="email")
          span.icon.is-small.is-left
            i.fas.fa-envelope
      .field
        label.label(for="Password") Password
        .control.has-icons-left
          input.input#password.column(type="password", name="password")
          span.icon.is-small.is-left
            i.fas.fa-lock
      .field
        label.label(for="confirmPassword") Confirm Password
        .control.has-icons-left
          input.input#confirmPassword.column(type="password", name="confirmPassword")
          span.icon.is-small.is-left
            i.fas.fa-lock
      .field.is-grouped
        .control
          button.button.is-link(type="submit") Submit
        .control
          button.button.is-light(type="reset") Reset

    if errors
      for error in errors
        p= error.msg
