extends layout
include _friends

block content
  .section
    h1.title User List
    .section
      ul
        - users.sort((a, b) => a.name < b.name ? -1 : a.name > b.name ? 1 : 0)
        for user in users
          +friend(user)


